.movie-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    }
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    color: #e0e0e0;
  }
  
  
  header {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #ff4757;
    font-size: 36px;
    margin: 0;
  }
  
  /* Títulos */
  h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
  }
  
  /* Botones */
  button {
    display: inline-block;
    background-color: #111010;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: #ff4757;
    transform: translateY(-3px);
  }
  

  
      