nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}

.main-nav li:first-child {
    font-weight: bold;
}